<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="footer-heading mb-4">About Me</h2>
                        <p>I am a Developer with industry experience building software, web and mobile
                            applications. I
                            worked on plenty of projects with people from different backgrounds.</p>
                    </div>
                    <div class="col-md-3 ">
                        <h2 class="footer-heading mb-4">Quick Links</h2>
                        <ul class="list-unstyled">
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/productlist">Products</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h2 class="footer-heading mb-4">Follow Me</h2>
                        <a href="https://www.facebook.com/riadh.mazgou/" class="pl-0 pr-3"><span
                                class="fa fa-facebook"></span></a>
                        <a href="https://www.instagram.com/riadh_mazgou/" class="pl-3 pr-3"><span
                                class="fa fa-instagram"></span></a>
                        <a href="https://www.linkedin.com/in/riadh-mazgou-114300168/" class="pl-3 pr-3"><span
                                class="fa fa-linkedin"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Designed By</h2>
                <a href="#"><img src="../../assets/images/IMG_5835.png" alt="Image" class="img-fluid mb-3"
                        style="width: 130px; "></a>
                <!-- <h4 class="h5">Leather Brown Shoe</h4> -->
                <!-- <strong class="text-black mb-3 d-inline-block">$60.00</strong>
                <p><a href="#" class="btn btn-black rounded-0">Add to Cart</a></p> -->
            </div>
        </div>
        <div class="row pt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy; 2020 All rights reserved | Made By Riadh
                        Mazgou
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>